@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&family=Tangerine:wght@400;700&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  /* outline: 1px solid rgba(0 0 0 / 20%); */
}

:root {
  --yellow: #fce200;
  --dark-blue: #101820;
}

html,
body {
  font-family: Poppins, system-ui;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body > footer {
  margin-top: auto;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: var(--yellow);
}
i {
  font-size: 2rem;
  padding: 5px 5px;
}

input,
select,
textarea,
button {
  font: inherit;
  border-radius: 5px;
  outline: none;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  height: 60px;
  background-color: #101820;
  margin: auto;
  z-index: 2;
}

header > div > span,
header > div > a {
  font-size: 20px;
  padding: 0 0 0 30px;
  display: inline-block;
  z-index: 2;
  margin: -20px;
}

.menu-icon {
  display: none;
  cursor: pointer;
  z-index: 2;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 40px;
}

nav {
  width: 100%;
  max-width: 500px;
  height: 50px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  color: #dfdfe2;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
  border-radius: 3px;
}

nav > ul > li:hover {
  background-color: var(--dark-blue);
  color: var(--yellow);
  cursor: pointer;
}

li > a {
  color: inherit;
  text-decoration: none;
}
h2 {
  font-weight: 900;
  font-size: 2.8rem;
  line-height: 1em;
}
.content-wrapper-inline > h2,
footer > h2 {
  text-align: center;
}

.section-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--dark-blue);
  color: white;
}

#early-life,
#career,
#death,
#legacy,
#hornors {
  scroll-margin-top: 50px;
}

.hero-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -2;
}
.hero-content {
  position: absolute;
  text-align: center;
  color: var(--yellow);
  background-color: var(--dark-blue);
  top: 81%;
  left: 25%;
  transform: translate(-50%, -50%);
  padding: 1vw;
  z-index: -2;
}
.hero-title {
  position: relative;
  font-size: 4vw;
  margin: 0;
  top: 20px;
}
.hero-subtitle {
  position: relative;
  font-family: Tangerine, Poppins, sans-serif;
  font-size: 6vw;
  color: white;
  margin: 0;
  top: -10px;
  right: 5px;
}
.intro-image {
  height: auto;
  width: 100%;
  display: flex;
  flex-basis: 30%;
  z-index: -1;
}
.intro-content {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
}
.intro-content-wrapper {
  padding: 50px 20px;
  letter-spacing: 1px;
  line-height: 1.5em;
}
.content-wrapper-inline {
  padding: 50px 30px;
  letter-spacing: 0.5px;
  line-height: 1.5em;
}

.career-image {
  height: auto;
  width: 100%;
  display: flex;
  flex-basis: 50%;
  z-index: -1;
}
.career-content {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  justify-content: center;
}
.career-content-wrapper {
  padding: 50px 20px;
  letter-spacing: 0.5px;
  line-height: 1.5em;
  flex-basis: 50%;
}

.death-image {
  height: auto;
  width: 100%;
  display: flex;
  flex-basis: 30%;
  z-index: -1;
}
.death-content {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
}
.death-content-wrapper {
  padding: 50px 20px;
  letter-spacing: 1px;
  line-height: 1.5em;
}

.honors-content {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.honors-content-wrapper {
  padding: 50px 20px;
  letter-spacing: 0.5px;
  line-height: 1.5em;
}
.honors-image {
  height: auto;
  width: 100%;
  display: flex;
  z-index: -1;
}

footer {
  background-color: white;
  width: 100%;
  height: 100%;
  color: var(--dark-blue);
  padding: 20px 20px;
}
.footer-content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.footer-content ul > li {
  list-style: none;
}
footer h3 {
  text-align: center;
}
.footer-bottom {
  background-color: var(--dark-blue);
  color: white;
  text-align: center;
  padding: 10px 0;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

@media (max-width: 1080px) {
  #intro.section-content {
    flex-direction: column-reverse;
  }
  .section-content {
    flex-direction: column;
  }
  .hero-subtitle {
    top: 3px;
  }
}
@media (max-width: 768px) {
  .hero-title {
    font-size: 5vw;
  }
  .hero-subtitle {
    font-size: 7vw;
    top: 3px;
  }
  .menu-icon {
    display: block;
  }
  nav#navbar {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--dark-blue);
    width: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 15;
  }
  nav#navbar.active {
    display: flex;
  }
  nav#navbar ul {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
  nav#navbar ul li {
    padding: 10px 0;
    text-align: center;
  }
  nav#navbar:not(.active) {
    overflow: hidden;
    height: 0;
  }
}
@media (max-width: 480px) {
  .hero-content {
    z-index: 1;
  }
  .hero-title {
    font-size: 6vw;
    top: 7px;
  }
  .hero-subtitle {
    position: relative;
    font-size: 9vw;
    top: 0px;
  }
}
