* {
    box-sizing: border-box;
    /* outline: 1px solid rgba(0 0 0 / 20%); */
}

.container {
  max-width: 960px;
  padding-inline: 20px;
  margin-inline: auto;
}

body {
    font-family: system-ui;
}

  .responsive-image {
    width: 100%;
    height: auto;
  }